version: '3.10.13'
services:
  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./data/qdrant_storage:/qdrant/storage
    restart: always
    deploy:
      placement:
        constraints:
          - "node.platform.os == linux"  
            # Windows/Mac에서도 자동 매핑


  rag-server:
    build: .
    container_name: rag-server
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_HOST=http://host.docker.internal:11434  # Mac/Windows 모두 호환
    depends_on:
      - qdrant
    volumes:
      - .:/app
